[include]
  path = ~/.gitconfig-local

[core]
  excludesfile = ~/.gitignore
  editor = nvim

[push]
  default= simple

[user]
	email = edwinkamaumuraya0@outlook.com
	name = eduuh

[color]
  ui = auto
  diff=auto
  branch=auto
  interactive=auto
  grep=auto

[pager]
	branch = false
	log = false
  config=false

[diff]
  tool=nvimdiff
[difftool "nvimdiff"]
   cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
   path = 
